.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  border: white 1px solid;
  padding: 20px;
}

#display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
  gap: 10px;
}
